.plugin-button {
    background-color: #444;
    color: white;
    border: none;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    cursor: pointer;
    border-radius: 6px;
    width: 100%;
    transition: background-color 0.2s ease;
  }
  
  .plugin-button:hover {
    background-color: #666;
  }
  